div.pd-post-reactions-table {

    display: table;
    width: 100%;
    border-spacing: 0px 10px;

}

div.pd-post-reactions-row {

    display: table-row;

}

div.pd-post-reactions-cell {

    display: table-cell;
    vertical-align: middle;
    text-align: center;

}

div.pd-post-reactions-dialog button#btn-add-reaction {

    opacity: 0.6;

}

div.pd-post-reactions-dialog span.pd-post-reactions-dialog-item {

    cursor: pointer;
    opacity: 0.5;

}

div.pd-post-reactions-container {

    text-align: right;
    font-size: 80%;

}

div.pd-post-reactions-container span.pd-post-reactions-item {

    display: inline-block;
    text-align: center;

}

div.pd-post-reactions-container span.pd-post-reactions-item span.pd-post-reactions-item-title {

    display: block;

}

div.pd-post-reactions-container span.pd-post-reactions-item:not(:last-child) {

    margin-right: 5px;

}